qtrk.v11.suo
qtrk.sdf
qtrk.opensdf
*.cache
*.obj
*.pdb
*.idb
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.log
*.user
*.manifest
*.rc
cputrack-test/Debug-Single/cputrack-test-sd.exe.embed.manifest.res
*.suo
*.deps
cudatrack/Debug/qtrkcudad-labview.dll.embed.manifest.res
*.ipch
*.res
*.resources
*.txt
*.dll
*.exe
*.csv
*.jpg
*.zip
bin/qtrkcudad.lib
Debug/unit-test.ilk